*
!.gitignore

!/icons/

!/projects/
/projects/*

!/projects/1.jpg
!/projects/2.JPG
!/projects/3.JPG
!/projects/4.JPG
!/projects/5.JPG
!/projects/6.JPG
!/projects/7.JPG
!/projects/8.JPG
!/projects/9.JPG
!/projects/10.JPG
!/projects/11.JPG
!/projects/12.JPG
!/projects/13.JPG
!/projects/14.JPG
!/projects/15.JPG
!/projects/16.JPG
!/projects/17.JPG
!/projects/18.JPG
!/projects/19.JPG
!/projects/20.JPG
!/projects/21.JPG
!/projects/22.JPG
!/projects/23.JPG
