*
!.gitignore

!/icons/
!/icons/*

!/icons/icon_email.png
!/icons/icon_phone.png

!/projects/
/projects/*

!/projects/1.jpg
!/projects/2.jpg
!/projects/3.jpg
!/projects/4.jpg
!/projects/5.jpg
!/projects/6.jpg
!/projects/7.jpg
!/projects/8.jpg
!/projects/9.jpg
!/projects/10.jpg
!/projects/11.jpg
!/projects/12.JPG
!/projects/13.JPG
!/projects/14.JPG
!/projects/15.JPG
!/projects/16.JPG
!/projects/17.JPG
!/projects/18.JPG
!/projects/19.JPG
!/projects/20.JPG
!/projects/21.JPG
!/projects/22.JPG
!/projects/23.JPG
